@media only screen and (max-width: 1024px){
.header .heading{
    font-size: 24px;
    margin-top: 7px;
}
.cart {
    font-size: 24px;
}
.navigationBar li {
    font-size: 13px;
}
.searchBar input {
    padding: 5px;
}
.searchIcon {
    font-size: 20px;
}
}

@media only screen and (max-width: 912px){
    .header .heading {
        font-size: 18px;
        margin-top: 11px;
    }
    .onLoading {
        width: 100%;
        height: 100%;
    }
    .searchIcon {
         left: 52.5%;
    }
    .productContainer {
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width: 821px){
    .header .heading {
        font-size: 14px;
        margin-top:10px;
    }
        .searchBar input {
            padding: 2px;
        }
        .searchIcon {
            font-size: 16px;
            left: 51%;
        }
        .navigationBar li {
            font-size: 11px;
        }
        .cart {
            font-size: 19px;
        }
        .lab {
         font-size: 10px;
             padding: 3px;
             bottom: 18px;
            left: 15px;
             width: 20px;
            height: 20px;
        }
        .productContainer {
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
}

@media only screen and (max-width: 540px){
    .productContainer {
       
        display: block;
    }
    .header .heading {
        margin-top: 3px;
        margin: 0px;
    }
    .searchBar input {
        padding: 2px;
        width: 88%;
    }
    .searchIcon {
        font-size: 16px;
        left: 34%;
    }
    .navigationBar{
        width: 73%;
    }
    .onLoading {
        width: 100%;
        height: 100%;
    }
    .onLoading label {
        font-size: 13px;
    }
    .onLoading label {
        top: 51%;
        left: 43.5%;
        font-size: 16px;
    }
}
@media only screen and (max-width: 426px){
    .header {
        display: block;
    }
    .onLoading {
        width: 100%;
        height: 100%;
    }
    .header .heading {
        margin: 0px;
        font-size: 19px;
        text-align: center;
    }
    .searchBar {
        width: 100%;
    }
    .searchBar input {
        padding: 4px;
        font-size: 12px;
        width: 100%;
    }
    .searchIcon {
        font-size: 17px;
        left: 93%;
    }
    .navigationBar {
        justify-content: space-evenly;
        width: 100%;
    }
    .navigationBar li {
        font-size: 14px;
    }
    .cart {
        font-size: 19px;
        text-align: end;
        margin-top: 21px;
    }
    .lab{
        left: 98%;
    }
    .container{
        padding: 5px;
    
    }
    .productContainer{
        display: block;
    }
    .product .image {
        height: 160px;
    }
    .productTitle{
        font-size: 13px;
    
    }
    .product .price {
        font-size: 12px;
    }
    .rating {
        font-size: 12px;
    }
    .count{
        font-size: 12px;
    }
    .product .category {
        font-size: 13px;
    }
    .product .description {
        font-size: 12px;
    }
    .button button {
        padding: 5px;
        border-radius: 4px;
        font-size: 12px;
    }
    .sortBy {
        margin-left: 0px;
    }
    .sortBy select {
        padding: 0px;
        font-size: 11px;
    }
    .navigationBar1 {
        margin-top: 15px;
    }
    .navigationBar1 li {
        font-size: 12px;
    }
    .icons {
        font-size: 13px;
        height: 37px;
    }
    .icons p {
        font-size: 14px;
    }
}