*{
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    
}
html{
    height: 100%;
}
body{
    height: 100%;
    margin:0px;
   
}
.header{
    background-color: #fae8e5;
    display: flex;
    justify-content: space-between;
}
.header .heading{
    margin-top: 4px;
    font-size: 31px;
    color: black;
    margin-left: 20px;
}
.logo img{
    width: 70px;
    height: 50px;
    margin-left: 30px;
}
.cart{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 30px;
    color: black;
}
.container{
    padding: 20px;
}
.productContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    justify-content: center;
    
}
.product{
    padding: 20px;
   
    margin-top:4px;
    color: gray;
  
    display: grid;
    height: auto;
   
}
.product:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(194, 190, 190);
    border:1px solid rgb(194, 190, 190);
    background-color: #fbece9;
}
.product .image{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.product .title{
    
    margin-bottom: 4px;
    font-weight: bolder;
}
.title a{
    text-decoration: none;
    color:#f59e8e;
    font-weight: 600;
}
.product .category{
    font-size: 14px;
    margin-bottom:4px;
}
.product .price{
    font-size: 14px;
    margin-bottom: 4px;
}
.product .description{
    font-size: 14px;
    margin-bottom: 4px;
}
.id{
    display: none;
}
.button button{
    border: none;
    padding: 10px;
    background: black;
    border-radius: 8px;
    box-shadow: 2px 0px 2px grey;
    width: 100%;
    color: white;
    font-size: 16px;

}
button:hover {
    cursor:pointer;
}
i:hover {
    cursor:pointer;
}
.description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin:0px;
}
.cartContainer{
    display: flex;
    height: auto;
}
.cartItems{
    width: 74%;
    padding: 11px;
}

.row{
    display: flex;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    margin-bottom: 55px;
}
.row li{
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    color: #979292;
}

.checkout{
    width:26%;
    background-color: #fae8e5;
    position: sticky;
    top: 0;
    height: 840px;
}
.borderDiv{
    width: 78%;
    margin-left: 12%;
    margin-right: 12%;
    height: 20px;
    border-bottom: 6px solid black;
    margin-top: 45px;
}
.totalDisplay{
    margin-top: 70px;
    text-align: center;
 
}
.total{
    font-size: 15px;
    font-weight: 500;
}
.price{
    font-size: 25px;
    font-weight: 700;
}
.text{
    text-align: center;
    font-size: 10px;
    color: darkgrey;

}
.terms{
    text-align: center;
    font-size: 12px;
    margin-top: 22px;
}
.terms mark{
    color:#f7ab9e ;
    text-decoration: none;
    background-color: #fae8e5;
}
.checkOutButton{

        text-align: center;
        margin-top: 60px;
        margin-bottom: 100px;
  
}
.checkOutButton button{
    padding: 18px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 32px;
    box-shadow: 0px 0px 5px grey;
    width: 60%;
    font-size: 18px;
}
.cartItemImage{
    height: 100px;
    text-align: center;
    margin-bottom: 19px;
    position: relative;
}
.cartItemImage img{
    height: 100%;
}
.cartItem{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 55px;
    
}
.button1{
    width: 17%;
    text-align: center;
}
.button1 button{
    border: none;
    padding: 3px;
    color: gray;
    background: white;
    border-radius: 2px;
    font-size: 28px;
}
.button1 input{
    width: 12%;
    text-align: center;
}
.titleCart{
    font-size: 15px;
    color: gray;
    line-height: 25px;
    font-weight: 700;
    text-decoration: none;
}
.tot{
    
    width: 9%;

}
.quant{
    width: 15px;
     padding: 20px;
     font-size: 20px;

}
.remove{
    border: none;
    color: rgb(80, 79, 79);
    background: white;
    font-size: 21px;
    position: absolute;
    right: 34px;
    bottom: 101px;
}
.removeBtn{
  
    text-align: center;
}
.lab{
    font-size: 13px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
    vertical-align: top;
}
.tot1{
    width: 6%;
    font-weight: 700;
}
.cartItemPrice{
    font-weight: 700;
}
.imageCont{
    width: 14%;
}
.continue{
    text-align: center;
}
.continue a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
